<app-navbar [transparentNavbar]="true"></app-navbar>

<div id="landing-image">
    <div id="shadow-layer"></div>
    <div id="l-image-limit">
        <img src="/assets/pexels-gym.jpg" alt="gym image">
    </div>
    <div id="overtext">
        <h2>Welcome to Fit Fusion</h2>
        <a href="/plans"><button>See our plans</button></a>
    </div>
</div>
<div id="random-cards">
    <div class="r-c">
        <p>Hello. I'm a card!</p>
    </div>
    <div class="r-c">
        <p>Hello. I'm a card!</p>
    </div>
    <div class="r-c">
        <p>Hello. I'm a card!</p>
    </div>
</div>

<h3>My Gym Rules</h3>