<app-navbar [transparentNavbar]="true"></app-navbar>

<div id="landing-image">
    <div id="shadow-layer"></div>
    <div id="l-image-limit">
        <img src="/assets/pexels-gym.jpg" alt="gym image">
    </div>
    <div id="overtext">
        <h2>Welcome to Fit Fusion</h2>
        <a href="/plans"><button>See our plans</button></a>
    </div>
</div>
<div id="random-cards">
    <div class="r-c">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/personal-trainer.png" alt="personal-trainer"/>
        <p>Instrutores que são especificos para educação fisica pra saúde como mais focado pro esporte de fisioculturismo</p>
    </div>
    <div class="r-c">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/money.png" alt="money"/>
        <p>Planos baratos! O custo benefício é único, prezamos isto</p>
    </div>
    <div class="r-c">
        <img width="40" height="40" src="https://img.icons8.com/ios/50/ez-curl-bar.png" alt="ez-curl-bar"/>
        <p>Sua experiência é única, pois possuímos máquinas desde old school como mais atuais</p>
    </div>
</div>

<div id="button-search-academy">
    <h3>Encontre a academia mais perto de você!</h3>
    <a href="/location"><div><p>Procurar academia mais próxima</p> <img width="40" height="40" src="https://img.icons8.com/carbon-copy/100/search-more.png" alt="search-more"/></div></a>
</div>